{
  "presets": [["@babel/preset-env", {
    "targets": { "node": 14 },
    "useBuiltIns": "usage"
  }]],
  "plugins": [
    [ "@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true, "legacy": false } ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-bigint"
  ]
}
